.tag--lists{
    margin:0 auto;
}

.chip{
    width:80%;

    margin-top:2vh;
    
    padding-bottom: 0;
    
    color:#fff;
    background-color: #50D3B0;
    border-radius: 0.7em;
    font-size: 2.25em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
