body{
    margin:0;
}
#map{
    width: 375px;
    height: 812px;
}

.chip{
    margin-left:10%;
    width:80%;

    margin-top:12%;
    
    padding-bottom: 0;
    
    color:#fff;
    background-color: #50D3B0;
    border-radius: 0.7em;
    font-size: 2.25em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.back{
    position:absolute;
    top:90%;
    left:3%;
    font-size: 2em;
    color:#3C92DB;
    text-decoration: none;
}

.hidden{
    display: none;
}
